@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab');

.list-group {margin-bottom:0px;}
.well {padding: 10px; background-color: rgba(245,245,245,0.4); margin-top: 10px;}
#search-background { 
      margin: 0px 0px;
      padding: 2% 2%;
      color: #fff;
}

.ui-widget-header {
background: #fff;
}


#s-la-content-chat-62687 {
	background-color: #f5f5f5;
 	border-color: #ddd;
}

#search-info {
	background-color: #fff;
	padding-left: 0px;
}

#s-la-guide-tabs-title-bar {
    border: none;
}

/*mobile hamburger bar style */
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
	color: #000;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #3D3935;
    color: #fff;
}

/*changes font size for command bar on admin side*/
s-la-admin-command-bar { 
	font-size: 12px;
}

/*removes padding from body, sets body font*/
body {
	padding: 0px 0px;
	font-family: 'Open Sans', sans-serif;
  	color: #000;
  	font-size: 15px;
  	background-color: #fff;
  	}
/*adds padding to content area*/
.s-la-side-borders {
	padding: 0px 20px;
	}

/*tucks skiplink out of view*/
#s-la-public-skiplink {
	top: -70px;
	}
	
/*modifies menu text by hamburger menu, mobile view*/
#menu-text { 
	display:none!important;
	} 

/*modifies library name on mobile view*/
#header-nav .navbar-default .navbar-brand {
  font-family: 'Roboto Slab', serif;
  font-weight: 800;
  font-size: 3em;
  color: #862633;
  margin-bottom: 32px;
}

/*modifies breadcrumb style*/
#s-la-bc .breadcrumb {
    border-radius: 4px;
    margin: 0;
    background: #f5f5f5;
	color: #000; 
}

/*styles branding area - background color behind logo or banner*/
#branding-area {
	background-color: #000;
	color: #fff;
    padding: 8px;
	}
/*styles links in branding area - not needed for banner image*/
#branding-area a{
	color: #fff;
	}
#branding-area a:hover, #branding-area a:visited, #branding-area a:focus {
	color: #fff;
	text-decoration: underline;
	}

/*styles navbar background color, squares edges, sets font*/
#header-nav .navbar-default {
  	background-color: #862633;
	border-color: #862633;
	border-radius: 0px;
  	font-family: 'Open Sans', sans-serif;
	}
/*changes color for navbar links*/
#header-nav .navbar-collapse .navbar-nav>li>a {
	color: #FFFFFF;
	padding-top: 40px;
	padding-bottom:40px;
	}

.dropdown:hover .dropdown-content {
    display: block;
	}

/*navbar navigation tabs*/

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #000;
    }


/*changes background color for open, hover and focused navbar links*/
#header-nav .navbar-collapse .navbar-nav>.open>a,#header-nav .navbar-collapse .navbar-nav>.open>a:focus,#header-nav .navbar-collapse .navbar-nav>.open>a:hover {
    background-color: #862633;
    }

/*styles box titles*/
.s-la-box .s-la-box-title {
	font-size: 16px;
	background-color: #eee;
	border-bottom: #D7D2CB;
	}

.s-la-box-title.s-la-box-title-simple h2 {
	font-weight: bold;
	background-color: #eee;
}

.s-la-box-title h2 {
    /* font-size: 14px; */
    margin: 0;
    line-height: normal;
    font-weight: 700;
    font-size: medium;
    background-color: #eee!important;
}

/*styles tabs on search box*/
.ui-tabs-anchor {
	background-color: #862633;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}

li.active {
	color:#000;
}
/*Changes font color on search box tabs*/
#ui-id-1 {
	color: #FFFFFF;
}
/*Changes font color on search box tabs*/
#ui-id-2 {
	color: #FFFFFF;
}
/*Changes font color on search box tabs*/
#ui-id-3 {
	color: #FFFFFF;
}

.s-la-faq-listing {
    float: left;
    margin: .5em;
    border: #D7D2CB 1px solid;
    border-radius: 4px;
    width: 100%;
    padding: .5em;
    background-color: #eee;
    list-style: none;
}

.s-srch-result {
    float: left;
    margin: .5em;
    border: #D7D2CB 1px solid;
    border-radius: 4px;
    width: 100%;
    padding: .5em;
    background-color: #eee;
    list-style: none;
}

/*header bar*/

#s-la-public-header-title {
	background-color:#eee;
}

.s-la-public-header-text {
    float: left;
    margin-bottom: 20px;
    border: #D7D2CB 1px solid;
    border-radius: 4px;
    width: 100%;
    padding-left: 1em;
	background-color: #eee;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}

.btn.btn-primary {
	color: #ffffff;
	background-color: #862633;
	border: #862633;
}

/*search tabs buttons */

.btn-default {
    color: #fff;
    background-color: #862633;
    border-color: #862633;
    border-radius: 4px;
}

ul.list-inline {
	border-bottom: 1px solid #ddd;
}

#s-srch-tabs button.btn {
    color: #fff;
    cursor: default;
    background-color: #862633;
	border-color: #862633;
	border-radius: 4px 4px 0 0;
}

#s-srch-tabs .active {
	border-radius: 4px 4px 0 0;
	font-weight: 700;
	background-color: #3D3935;
	padding-bottom: 1px;
}

#s-srch-tabs .active button {
    border-color: #3D3935;
	background-color: #3D3935;
    font-weight: 700;
    padding-bottom: 1px;
}

#s-srch-tabs button.btn:hover, #s-srch-tabs button.btn.li:hover {
    color: #fff;
	font-weight: 700;
    background-color: #3D3935;
	border-radius: 4px 4px 4px 4px;
	
}

/*libcal hours style*/

#libcal_hours, #api_hours_today_iid3038_lid0 {
	background-color: #e9df97;
	color: #000;
	border: 2px solid transparent;
	}
.s-lc-time {
    padding-left: 5px;
    font-weight: bold;
    border-left: 2px solid rgba(0, 0, 0, 0.44);
    margin-left: 5px;
}

/*advanced layout options */
.s-la-color-bars, .s-la-color-bars .navbar-text, .s-la-color-bars.s-la-box-title h2 {
    color: #000000;
    background-color: #fff;
    border: none;
}

.s-la-color-bars-border {
    border-radius: 4px;
}

.s-la-color-bars .s-la-navbrowse .navbar-text {
    color: #000;
    font-weight: 700;
    background-color: #fff!important;
    border: none;
}

li.p.navbar-text {
	background-color: #eee!important;
}

p.navbar-text {
	background-color: #eee!important;
}

.btn.btn-default.s-la-searchform-button {
	color: #fff;
    cursor: default;
    background-color: #862633;
	border-color: #862633;
	border-radius: 4px 4px 4px 4px;
	background-image: none;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #fff;
    background-color: #3D3935!important;
    border-color: #3D3935!important;
    text-decoration: none;
}

.s-la-content-iconitem-icon .fa {
	color: #000;
}

i.fa.fa-edit, i.fa.fa-columns, i.fa.fa-list-ol, i.fa.fa-eye, i.fa.fa-arrow-left {
	color: #000;
}

.navbar.navbar-default.s-la-color-bars.s-la-color-bars-border {
	border-radius: 4px;
	border: #D7D2CB 1px solid;
	background-color: #eee;
}

#s-la-vote.navbar-text {
	background-color: #eee;
}

.text-success {
    color: #3c763d;
    background-color: #eee;
    border: #eee solid 5px;
}

.text-danger {
    color: #a94442;
    background-color: #eee;
    border: #eee solid 5px;
}

#s-la-vote-yes:hover {
	color: darkgreen!important;
	background-color: #eee;
	border: none;
}

#s-la-vote-no:hover {
	color: darkred!important;
	background-color: #eee;
	border: none;
}

/* system status styles */

.s-la-product-div:hover, .s-la-productfolder-div:hover {
    background-color: #efefef;
}

.s-la-product-div:focus, .s-la-productfolder-div:focus {
    background-color: #efefef;
}

.label-prodstatus-349:hover {
    background-color: #008a00;
    color: #ffffff;
}

/* breadcrumbs list */
.s-la-breadcrumbs {
    padding: 8px 15px;
    font-size: small;
}

.s-la-box-title h2 {
    /* font-size: 14px; */
    margin: 0;
    line-height: normal;
    font-weight: 700;
    font-size: medium;
}

/*search results list */
.s-la-faq-listing-meta .label-topic, .s-la-faq-topics .label-topic {
    font-weight: 400;
    background-color: #862833;
    color: #fff;
}

.s-srch-result .label-default {
    color: #fff;
    background-color: #862633;
    font-size: small;
}

.s-srch-result .label-default:hover {
    color: #fff;
    background-color: #3D3935;
    font-size: small;
}

.s-srch-result .label-default a:hover {
    color: #fff;
    background-color: #3D3935;
    font-size: small;
}

.s-srch-result-title {
    font-size: medium;
    font-weight: 700;
}

.s-srch-result-pages, .s-srch-result-desc {
	font-size:medium;
	padding-bottom:5px;
}

.metalabel {
    font-size: small;
}

p {
    margin: 0 0 10px;
    font-size: 15px;
}
/* pagination styles */
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #862633;
    border-color: #862633;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #862633;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 2;
    color: #3D3935;
    background-color: #eee;
    border-color: #ddd;
}

.s-la-faq-listing-meta .divider {
    padding: 0 5px;
    color: #3D3935;
}

li.s-la-faq-listing {
    margin-bottom: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid #D7D2CB;
}

/*Footer styles*/

h2.logo {
	text-align:left;
}

h2.pad-bottom-sm {
	font-family: 'Open Sans';
}

#custom-footer {
    background-color: #3D3935;
    color: white;
    padding-top: 30px;
	padding-bottom: 230px;
}

#custom-footer .row {
    margin-bottom: 60px;
	background-color: #3D3935;
}

#custom-footer .navbar-brand {
    margin-top: 45px;
	margin-left: 10px;
	margin-right: 10px;

}

#custom-footer ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

#custom-footer h5 {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    margin-top: 30px;
}

#custom-footer h2 a{
    font-size: 50px;
    text-align: left;
    color: #e9df97;
}

#custom-footer a {
    color: #e9df97;
    text-decoration: none;
}

#custom-footer a:hover, #custom-footer a:focus {
    text-decoration: underline;
    color: #e9df97;
}

#custom-footer .btn {
    color: #e9df97;
    background-color: #d2ef8f;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

.btn-info:hover {
    color: #fff;
    background-color: #3D3935;
    border-color: #3D3935;
}

a i {
    text-decoration: none;
    color: #fff;
}

#custom-footer .social-networks {
    text-align: left;
    padding-top: 30px;
    padding-bottom: 16px;
}

#custom-footer .social-networks a {
    font-size: 32px;
    padding: 10px;
    transition: 0.2s;
}

#custom-footer .social-networks a:hover {
    text-decoration: none;
}

#custom-footer i.fa.fa-facebook:hover {
    color: #0077e2;
}

#custom-footer i.fa.fa-youtube:hover {
    color: #ef1a1a;
}

#custom-footer i.fa.fa-instagram:hover {
    color: #A719EF;
}

.alert.alert-info {
	background-color: #E9DF97;
	border-color: #E9DF97;
	color: #000;
}

.alert.alert-info.margin-top-med > a {
	color: #000;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Basic link styles */
a {
    color: #862633;
    text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #862633;
	text-decoration:underline;
	font-weight: bold;
}

a:active {
	color: #862633;
	font-weight: bold;
}
a:visited {
	color: #862633;
	font-weight: bold;
}


/*media queries for mobile, 767 or less*/

@media (max-width: 720px) {
  /*changes background color for expanded menus*/
  #header-nav .navbar-nav .open .dropdown-menu {
  background-color: #FFFFFF;
	}

	.s-lib-side-borders {
      width: 100% !important;
    }
	
	.img-responsive {
	width:50%!important;	
	}
	
  /*changes link color in expanded menus*/
  #header-nav .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #000000;
        font-size: 15px;
    }
	#menu-text.navbar-text.visible-xs.pull-right {
		display:none;	
	} 
}


@media (max-width: 767px) {
  /*changes background color for expanded menus*/
  #header-nav .navbar-nav .open .dropdown-menu {
  background-color: #FFFFFF;
	}

	.s-lib-side-borders {
      width: 100% !important;
    }
	
	.img-responsive {
	width:75%!important;	
	}
	
  /*changes link color in expanded menus*/
  #header-nav .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #000000;
        font-size: 15px;
    }
	#menu-text.navbar-text.visible-xs.pull-right {
		display:none;	
	} 
}


/*media queries for non-mobile screens*/
@media (min-width: 768px) {
/*increases navbar font size*/
#header-nav .navbar-default .navbar-nav>li>a {
  font-size: 15px;
}

 
/*increases font size in dropdowns*/
#header-nav .dropdown-menu>li>a {
font-size: 15px;
    }  
}

@media (min-width: 1200px) {
/*increases navbar font size on largest screensize*/
#header-nav .navbar-default .navbar-nav>li>a {
  font-size: 16px;}
}
/* CSS Document */
