@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.list-group {
	margin-bottom:0px;
}
.well {
	padding: 10px;
	background-color: rgba(245,245,245,0.4);
	margin-top: 10px;
}
.ui-widget-header, .s-lib-jqtabs > .nav-tabs {
background: #fff;
}

/* Hide the database list search box */
#col-search {
    display: none;
}

#s-lg-az-filters {
    margin-bottom: 15px;
}

.s-lg-az-result-badge-new {
    background-color: #6D1D45;
}

.s-lg-az-result-badge-trial {
    background-color: #1E1A32;
}

#az-search-col-1 .navbar .navbar-default {
	display: block;
}

#search-info{
background-color: rgba(0,0,0,0.6);
	padding-left: 0px;
}

#s-lg-guide-tabs-title-bar {
    border: none;
}

#s-lg-guide-tabs a:hover {
	color: #3D3935;
}

#s-lib-admin-bc .breadcrumb, #s-lib-bc .breadcrumb, #s-lib-bc-list .breadcrumb {
    margin-top: 0;
    font-weight: 700;
    font-size: medium;
    padding: 10px;
    background-color: #cccccc38;
	color: #333;
	text-align: center;
}


ol.breadcrumb a {
	color: #862633;
}
ol.breadcrumb a:hover {
	color: #3d3935;
}

#s-lib-bc-page.active {
	color: #333!important;
}
/*changes font size for command bar on admin side*/
s-lg-admin-command-bar {
	font-size: 12px;
}

/*removes padding from body, sets body font*/
body {
	padding: 0px 0px;
	font-family: 'Open Sans', sans-serif;
  	color: #000;
  	font-size: large;
  	background-color: #fff;
	line-height: 1.75;
  	}
/*adds padding to content area*/
.s-lib-side-borders {
	padding: 0px 20px;
}

/*recolors skiplink*/
#s-lg-public-skiplink {
	background: #862633;
	color: #ffffff;
	border: none;
}

/*fixes bootstrap bug on ipad */
.dropdown-backdrop {
    position: static;
}

/* adds Springfield College brand*/

#college_branding {
	background: #ffffff;
	color: #862633!important;
}

/*modifies menu text by hamburger menu, mobile view*/
#menu-text { 
	padding-right: 14px; 
    padding-left: 5px;
	font-size: 20px;
  	font-family: 'Open Sans', sans-serif;
  	color: #fff;
	} 

.navbar-toggle.collapsed, .navbar-default .navbar-toggle {
    border-color: #fff;
    background-color: #3d3935;
	text-decoration: underline;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    border-color: #fff;
	background-color: #1E1A32;
	font-weight: bold;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

#header-nav .navbar-default {
    background-color: #862633;
    border-color: #862633;
    border-radius: 0px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0px;
}

/*modifies library name on mobile view*/
#header-nav .navbar-default .navbar-brand {
  font-family: 'Roboto Slab', serif;
  font-weight: 800;
  font-size: 3em;
  color: #862633;
}

.h1, h1 {
    font-size: 3em;
}

/*modifies guide header information area*/
#s-lg-guide-header-info h1, .s-lib-header h1, #s-lg-index-list-header {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 2em;
    font-weight: 700;
    background: #ffffff;
    border: none;
    color: #862633;
	text-align: center;
}

#s-lib-public-header-desc, #s-lg-index-list-header {
	margin-top: -5px;
    margin-bottom: 5px;
    background: #ffffff;
	border: none;
    padding: 10px;
	text-align: center;
}

#s-lg-index-list-header {
	margin-bottom:15px!important;
}

#s-lg-guide-desc-container {
    margin-top: -5px;
    margin-bottom: 2.5%;
    background: #ffffff;
    border: none;
    padding-left: 10px;
	padding-right: 10px;
    padding-top: 5px;
	text-align: center;
}


.margin-bottom-xlg {
    margin-bottom: 15px!important;
}

/*styles image on desktop */
.navbar-brand>img {
    display: block;
    padding-top: 10px;
}

/*styles branding area - background color behind logo or banner*/
#branding-area {
	background-color: #ffffff;
	color: #862633;
    padding: 8px;
}
/*styles links in branding area - not needed for banner image*/
#branding-area a{
	color: #862633;
	text-decoration: none;
}
#branding-area a:hover {
	color: #3D3935!important;
	text-decoration: underline;
}
#branding-area a:visited, #branding-area a:focus {
	color: #862633;
	text-decoration: none;
}

/*styles navbar background color, squares edges, sets font*/
#header-nav .navbar-default {
  	background-color: #862633;
	border-color: #862633;
	border-radius: 0px;
  	font-family: 'Open Sans', sans-serif;
}
/*changes color for navbar links*/
#header-nav .navbar-default .navbar-nav>li>a {
	color: #FFFFFF;
	padding-top: 40px;
	padding-bottom:40px;
	text-decoration: underline;
}
#header-nav .navbar-default .navbar-nav>li>a:hover {
	color: #FFFFFF;
	padding-top: 40px;
	padding-bottom:40px;
	font-weight: bold;
	background-color:#3D3935;
}


ul.dropdown-menu {
	background: #ffffff!important;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
	background: #ffffff!important;
    white-space: nowrap;
    font-size: large;
}
.dropdown:hover .dropdown-content {
	display: block;
	font-weight: bold;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #000000;
    text-decoration: underline;
    background-color: #f5f5f5!important;
    font-weight: bold;
}


/*changes background color for open, hover and focused navbar links*/
#header-nav .navbar-default .navbar-nav>.open>a,#header-nav .navbar-default .navbar-nav>.open>a:focus,#header-nav .navbar-default .navbar-nav>.open>a:hover {
	background-color: #3D3935;
	overflow: hidden;
}


/*styles guide list panels*/
.panel-heading > a {
	color: #862633;
    text-decoration: underline;
	font-weight: bold;
}

.panel-default>.panel-heading .badge {
    color: #fff;
    background-color: #333;
    font-size: medium;
}

.fa.fa-info-circle {
	color: #333;
	font-size: medium;
}

.fa.fa-print {
	color: #333;
}

.fa.fa-info-circle.fa-3x {
	font-size: 3em;
}


#s-lg-box-25069367-container.s-lib-box-container, #s-lg-box-25069367.s-lib-box.s-lib-box-std {
    border: none!important;
    box-shadow: none!important;
    border-radius: 0!important;
    background-color: #9cc659!important;
    padding:0!important;
    margin:0!important;
}

#s-lib-public-main .alert {
    margin: -5px;
}

.alert.alert-info.margin-top-med > a {
	color: #000;
}

.alert-danger {
    color: #862633;
}

/*styles box titles*/
.s-lib-box .s-lib-box-title {
	background-color: #D7D2CB;
	font-size: 16px;
	font-weight: 600;
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	}

/* Styles Guide Titles */

#s-lg-guide-name {
	border: none!important;
    color: #862633!important;
    font-size: 3.5em!important;
    background-color: #ffffff!important;
}

/* Guide Box link styles */

.s-lg-link-list-2 li span>a {
	text-decoration: underline;
}

.s-lg-link-list-2 li span>a:hover{
	font-weight: bold;
}

.s-lg-link-list-2 li span>a:focus {
	font-weight: bold;
}

.s-lg-link-list-2 li span>a:visited {
	text-decoration: underline;
}

.s-lib-box-content p > a {
	text-decoration: underline;
}

.s-lib-box-content p > a:hover {
	font-weight: bold;
	color: #3D3935!important;
}

.s-lib-box-content p > a:focus {
	font-weight: bold;
}

.s-lib-box-content p > a:visited {
	font-weight: normal;
}

.s-lib-box-content li > a {
	text-decoration: underline;
}

.s-lib-box-content li > a:hover {
	font-weight: bold;
	color: #3D3935;
}

.s-lib-box-content li > a:focus {
	font-weight: bold;
}

.s-lib-box-content li > a:visited {
	font-weight: normal;
}

.s-lg-link-list-4 li span>a {
	text-decoration: underline;
}

.s-lg-link-list-4 li span>a:hover {
	font-weight: bold;
}

.s-lg-link-list-4 li span>a:focus {
	font-weight: bold;
}

.s-lg-link-list-4 li span>a:visited {
	font-weight: normal;
}

ol, ul {
    margin-left: 15px!important;
}


/*styles tabs on search box*/
.ui-tabs-anchor {
background-color: #862633;
color: #FFFFFF;
font-size: 16px;
font-weight: 600;
font-family: 'Open Sans', sans-serif;
}

input[type="submit"]:hover {
    opacity: 0.9;
}

#searchFilters {
	padding: 0.75em 1.5em;
	font-size: 1em;
	width: 100%;
	min-height: 3em;
	min-width: 8em;
	color: rgb(255, 255, 255);
	background-color: rgb(134, 38, 51);
	margin: 0px 0.5em 0px 0em;
	border-radius: 0.25em;
	border: none;
	background-image: none;
	float: none;
	text-align: center!important;
}

#discovery-search {
    display: inline-block;
    width: 100%;
    height: 3em!important;
    font-size: 1em;
    color: #333;
    background-color: white;
    border: 1px solid rgb(204, 204, 204)!important;
    box-shadow: none;
    text-align: center;
	margin-left: 5px!important;
}


/* Sidebar tabs link color */
.s-lib-box-content .ui-tabs-nav li>a {
    color: #ffffff;
}

/*styles box titles*/
.s-lib-box .s-lib-box-title {
	background-color: #D7D2CB;
	font-size: 20px;
	font-weight: 700;
	color: #862633;
	}

/*styles sidebar boxes*/

.txt.pad-top-sm {
	box-shadow: none;
    margin: 0;
    padding: 5px;
    background-color: white!important;
    border: none!important;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

h2.pad-bottom-sm {
	color:#333;
}

h3 a {
	text-decoration: underline;
}

/*styles email + libguides buttons */
.label-info {
    background-color: #862633;
} 
.label-info:hover {
    background-color: #3D3935!important;
} 

.s-lib-profile-name a:hover, .s-lib-profile-contact a:hover, .s-lib-profile-email a:hover {
	color:#3D3935!important;
}

.s-lg-widget .btn-primary, .btn.btn-small.btn-primary {
    color: #fff;
    background-color: #862633!important;
    border-color: #862633!important;
	background-image: none;
}

.s-lg-product-div:hover {
	background-color: #dfdfdf;
}


.s-lg-widget .btn-primary:hover, .btn.btn-small.btn-primary:hover {
	background-color: #3D3935!important;
	border-color: #3D3935!important;
	background-image: none;
}

.s-lg-widget-embed {
	border: none!important;
}

input.s-lg-widget  {
	color: #fff;
    background-color: #862633!important;
    border-color: #862633!important;
}

input.s-lg-widget:hover  {
	color: #fff;
    background-color: #3D3935!important;
    border-color: #3D3935!important;
}

/* popover icon styles */
h3.popover-title, .popover-content .pad-bottom-sm * div, h3.popover.fade.right.in {
	font-family: 'Open Sans', sans-serif;
  	color: #000;
  	font-size: 14px;
	padding-bottom: 5px;
}

#s-lg-guide-header-search {
    display: none!important;
}

/* A-Z Database list styles */

#s-lg-az-index {
    font-size: 1.5em;
    word-wrap: break-word;
    margin-bottom: 0px;
    background: #f5f5f5;
    border: 1px solid #ddd;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #3d3935;
}

#s-lg-az-index .btn-group>.btn-link {
    padding: 6px 6px;
    font-size: 20px;
}

.s-lg-az-result-title {
    font-weight: 700;
    display: inline;
    margin-right: 10px;
    font-size: large!important;
}

.s-lg-az-result-badge-featured {
    background-color: #862633;
}

.btn.btn-default.btn-sm.s-lib-hide {
    color: #ffffff;
    background: #862633;
    font-size: 16px;
    margin-top: 5px;
}

.btn.btn-default.btn-sm.s-lib-hide:hover {
    color: #ffffff;
    background: #3d3935;
    font-size: 16px;
    margin-top: 5px;
}

h3.s-lg-db-panel-title {
    font-size: large;
    margin-top: 10px;
}

#s-lg-az-index {
    margin-top: 10px;
}

#s-lg-az-result-count {
    margin-top: 0;
	font-size: larger;
    margin-bottom: 0px;
}

.s-lg-az-header.btn.btn-link.s-lg-az-first {
	color: #862633;
	font-weight: bold;
	text-decoration: underline;
}

.s-lg-az-header.btn.btn-link.s-lg-az-first:hover {
	color: #3D3935;
}

.s-lg-disabled-text-contrast.btn.btn-link {
	color: #000000;
}

.s-lg-az-result-badges {
    display: inline;
    position: relative;
    bottom: 2px;
    font-size: medium;
}

/*Profile Pages styles*/

#s-lg-az-nav, #s-lg-er-nav, #s-lg-hp-nav, #s-lg-profile-nav, #s-lg-srch-nav {
    color: #333;
    background: #fff;
    border-radius: 5px;
    padding: 0;
    font-size: large;
}

#s-lg-er-count-btn, #s-lg-profile-count-btn, #s-lg-srch-btn {
    margin-right: 15px!important;
    padding-top: 10px!important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #862633;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 10px;
}

#s-lg-er-count-btn, #s-lg-profile-count-btn, #s-lg-srch-btn {
    margin-right: 15px;
    padding-top: 5px;
    font-size: large;
    color: #3d3935;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: large;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: normal;
    vertical-align: middle;
    background-color: #3d3935;
    border-radius: 10px;
}

.s-lib-featured-profile-name {
    line-height: 1.2;
    margin-top: 10px;
    font-weight: 700;
    color: #862633;
}

.s-lib-featured-profile-name:hover {
	color: #3d3935;
}

.nav>li>a:hover, .nav>li>a:focus {
    outline: dotted 1px #000;
    background: #3d3935;
    color: #ffffff;
}

.popover-title {
	font-weight:bold;
}

.s-ui-helptip .popover {
    max-width: 500px;
    min-width: 300px;
}

div.popover-content > div > div:nth-child(3) > div:nth-child(2) {
	display:none;
}

/*Guide navigation box styles*/

#s-lg-tabs-container .nav-tabs > li > a, #s-lg-tabs-container .nav-tabs > li > button, #s-lg-tabs-container .nav-pills > li > a, #s-lg-tabs-container .nav-pills > li > button, .calendly {
    border: 1px solid transparent;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #862633;
    color: #fff;
    font-weight: normal;
    padding: 4px 15px;
}

#s-lg-tabs-container .nav-tabs > .active > a, #s-lg-tabs-container .nav-tabs > .active > button, #s-lg-tabs-container .nav-pills > .active > a, #s-lg-tabs-container .nav-pills > .active > button {
    color: #ffffff;
    background-color: #3D3935;
    border: 1px solid transparent;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-bottom-color: transparent;
    font-weight: bold;
	text-decoration: underline;
	
}

.nav .s-lg-index-nav-btn>button {
    font-size: 14px;
    margin: 0 10px;
    padding: 5px 10px;
	color: #fff;
    background-color: #3D3935;
}

.nav-pills>li.active>button, .nav-pills>li.active>button:focus, .nav-pills>li.active>button:hover {
    background-color: #862633;
    color: #fff;
}

#s-lg-tabs-container .nav-tabs > li > a:hover, #s-lg-tabs-container .nav-tabs > li > button:hover, #s-lg-tabs-container .nav-pills > li > a:hover, #s-lg-tabs-container .nav-pills > li > button:hover, .calendly:hover {
    border: 1px solid transparent;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #3D3935;
    color: #ffffff;
	text-decoration: underline;
	font-weight: bold;
}

#s-lg-tabs-container .nav-tabs > .active > a:hover, #s-lg-tabs-container .nav-pills > .active > a:hover, #s-lg-tabs-container .nav-tabs > .active > button:hover, #s-lg-tabs-container .nav-pills > .active > button:hover {
    color: #fff!important;
    background-color: #3d3935;
    border: 1px solid transparent;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-bottom-color: transparent;
    font-weight: bold;
	text-decoration: underline;
}

#s-lg-guide-desc-container {
	padding-bottom: 20px;
}

.s-lg-er-item-list li, .s-lg-link-list li, .s-lg-system-list li, .s-lib-footer {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* .s-lg-er-item-list, .s-lg-link-list, .s-lg-rss-list, .s-lg-system-list {
	margin-left: 7%;
} */

/* LibChat Contact Us Button */

#libchat_d15c860fca4a6bc605a37384fc72e5de button.libchat_online, #libchat_d15c860fca4a6bc605a37384fc72e5de button.libchat_offline {
    background-color: #FFFFFF;
    color: #862633;
    font-size: 14px;
    padding-left: 4px;
}

#libchat_d15c860fca4a6bc605a37384fc72e5de button.libchat_online:hover, #libchat_d15c860fca4a6bc605a37384fc72e5de button.libchat_offline:focus {
	text-decoration: underline;
	color: #862633;
	font-size: 14px;
	padding-left: 4px;
}

/* back to top button */

#s-lib-scroll-top {
    position: fixed;
    bottom: 50%;
    right: 5px;
    text-decoration: none;
    font-size: 20px!important;
}

/* Guide list side buttons */

.btn-info {
    color: #fff!important;
    background-color: #862633!important;
    border-color: #862633!important;
	padding-top:5px;
}

.btn.btn-info.s-lg-hp-btn-section {
	margin-top:5px;
	display: flex;
	justify-content: center;
}

.btn-info, .btn-info.active, .btn-info:active, .btn-info:focus, .btn-info:hover {
    background-color: #333!important;
    border-color: #333!important;
}

/*Pagination styles*/

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    background-color: #3d3935;
    border-color: #3d3935;
}

/*Button styles*/

row {
    margin-left: 0px;
	margin-right: 0px;
}

/* All Guides Page */
.s-lib-box-er-course-list, .s-lib-box-idx-guide-list {
	box-shadow: none;
	margin: 0 0 10px;
	background-color: #f5f5f5;
	border-color: #ddd;
}
.s-lib-border-round {
    border-radius: 4px;
}

/*library search box style */

#librarysearch_container {
    width: 100%;
    background-image: url(https://libapps.s3.amazonaws.com/customers/44/images/header.jpg);
    background-color: rgb(0 0 0 / 0.3)!important;
    background-blend-mode: darken!important;
    background-size: cover;
    height: auto;
	margin: 0;
}


#about_quick_search a, #discovery-advanced-search a {
	display: inline-block;
	color:#ffffff!important;
	text-decoration: underline;
	font-weight: bold;
	font-size:1.2em;
	text-align: center; 
	text-shadow: 1px 1px 5px #000000;
	margin: 0;
}

#about_quick_search a:hover, #discovery-advanced-search a:hover {
	color:#ffffff!important;
	opacity: 0.9!important;
}

#about_quick_search a:visited, #discovery-advanced-search a:visited {
	color:#ffffff!important;
	text-decoration: underline
}

#discovery-search-form {
	width: 60%;

}

#searchFilters {
    padding: 0.75em 1.5em;
    font-size: 1em;
    width: 100%;
    min-height: 3em;
    min-width: 8em;
    color: rgb(255, 255, 255);
    background-color: rgb(134, 38, 51);
    margin: 0px 0.5em 0px 0em;
    border-radius: 0.25em;
    border: none;
    background-image: none;
    float: none;
    text-align: center!important;
}

.glyphicon.searchSubmit {
    padding: 0.75em 1.5em;
    font-size: 1em;
    width: 100%;
    min-height: 3em;
    min-width: 2em;
    color: rgb(255, 255, 255);
    background-color: rgb(134, 38, 51);
    margin: 0px 0.5em 0px 0em;
    border-radius: 0.25em;
    border: none;
    background-image: none;
    float: none;
    text-align: center!important;
}


::-webkit-input-placeholder { /* Edge */
 	color: #595959;
	text-align: center;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 	color: #595959;
	text-align: center;
}

::placeholder {
 	color: #595959;
	text-align: center;
}


/* search results */

.s-srch-result {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(239, 239, 239);
    position: relative;
    font-size: inherit;
}

/* library homepage customizations - hide box headers and make containers full-width*/

#s-lg-box-24804582 > h2 {
	display: none;
}
#s-lg-box-collapse-24804582 > div {
    padding: 0;
    width: 100%;
}

#resource_buttons {
	text-align: center;
}

li.dropdown-header {
    font-size: large!important;
    font-weight: 700;
	background: #D7D2CB!important;
	color: #333!important;
	text-transform: none;
}

.btn.btn-primary.btn-block.databases, .btn.btn-primary.btn-block.journals, .btn.btn-primary.btn-block.guides, .btn.btn-primary.btn-block.hours, .btn.btn-primary.btn-block.reserves, .btn.btn-primary.btn-block.ill, .btn.btn-primary.btn-block.faculty, .btn.btn-primary.btn-block.account {
    background: #ffffff!important;
    color: #3D3935!important;
    border: none!important;
}


.btn.btn-primary.btn-block.databases:hover, .btn.btn-primary.btn-block.journals:hover, .btn.btn-primary.btn-block.guides:hover, .btn.btn-primary.btn-block.hours:hover, .btn.btn-primary.btn-block.reserves:hover, .btn.btn-primary.btn-block.ill:hover, .btn.btn-primary.btn-block.faculty:hover, .btn.btn-primary.btn-block.account:hover {
	background: #cccccc38!important;
}

#s-lg-box-25121694, #s-lg-box-25121207, #s-lg-box-24805331, #s-lg-box-25138181, #s-lg-content-57812813, #s-lg-box-25156793, #s-lg-box-25143829  {
    border: none;
    box-shadow: none;
    padding: 0;
    margin:0;
}

#resource_buttons h3 {
	text-align: center;
	font-size: x-large;
	white-space: normal;
}

/*libcal hours style*/

#libcal_hours, #s_lc_tdh_3038_440 {
	background-color: #e9df97!important;
	color: #000;
	border: none;
	width: 100%;
	
	}
.s-lc-time {
    padding-left: 5px;
    font-weight: bold;
    border-left: 2px solid transparent;
    margin-left: 5px;
}
.s-lc-w-times.s-lc-w-lid-440.s-lc-w-location, .s-lc-w-times.s-lc-w-lid-17803.s-lc-w-department {
	display: inline-table;
}

.s-lc-w-name {
	text-decoration: underline;
}
.libcal {
	background: #e9df97!important;
	width: 100%;
}

/*FA Styles */
.fa-external-link  {
    font-size: large!important;
    color: #3D3935;
}

.fa.fa-facebook:hover, .fa.fa-youtube:hover, .fa.fa-instagram:hover {
	color: #3D3935;
}


#s-lib-scroll-top {
	z-index: 9999;
}

/*Footer styles*/

h2.logo {
	text-align:left;
}

h2.pad-bottom-sm {
	font-family: 'Open Sans';
}

#custom-footer {
    background-color: #3D3935;
    color: white;
    padding-top: 45px;
	padding-bottom: 55px;
}

#custom-footer .row {
    margin-bottom: 60px;
	background-color: #3D3935;
}

#custom-footer .navbar-brand {
    margin-top: 45px;
	margin-left: 10px;
	margin-right: 10px;

}

#custom-footer ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

#custom-footer h3 {
    color: #fff;
    font-weight: bold;
    margin-top: 30px;
}

#custom-footer h2 a{
    font-size: 50px;
    text-align: left;
    color: #e9df97;
}

#custom-footer a {
    color: #e9df97;
    text-decoration: none;
}

#custom-footer a:hover, #custom-footer a:focus {
    text-decoration: underline;
    color: #e9df97;
}

#custom-footer .social-networks a {
    font-size: 32px;
    color: #fff;
    padding: 10px;
    transition: 0.2s;
}

#custom-footer .social-networks a:hover {
    text-decoration: none;
}

#custom-footer .fa.fa-facebook:hover {
    color: #0077e2!important;
}

#custom-footer .fa.fa-youtube:hover {
    color: #ef1a1a!important;
}

#custom-footer .fa.fa-instagram:hover {
    color: #A719EF!important;
}

#custom-footer .btn {
    color: #e9df97;
    background-color: #d2ef8f;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

.btn-info:hover {
    color: #fff;
    background-color: #3D3935;
    border-color: #3D3935;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.s-lg-er-item-list li, .s-lg-link-list li, .s-lg-system-list li, .s-lib-footer {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

/*Basic link styles */
a {
    color: #862633;
    text-decoration: underline;
	font-weight: bold;
}

a:visited {
	color: #862633;
	text-decoration: underline;
}

a:hover, a:focus {
	color: #3D3935;
	text-decoration: underline;
	font-weight: bold;
}

a:active {
	color: #3D3935;
	font-weight: bold;
	text-decoration: underline;
}


/* breakpoints for mobile */


@media only screen and (max-width: 767px) {
  
/*disables sticky sidebar*/
	.sticky-side-nav {
  	position: static;
}
/* moves search button on homepage */

input, select, textarea {
    font-size: smaller!important;
    margin: auto;
}
	
.mobile-columns {
	flex-direction: column!important;
	width:100%!important;
}

#searchFilters {
	margin-bottom: 5px!important;
}

#about_quick_search, #discovery-advanced-search {
    margin-left: 5px!important;
	font-size: small!important;
	margin-bottom: 5px!important;
	text-align: center!important;
}

.searchSubmit {
	margin-top: 5px!important;
}
	
.college-links {
	text-align: center!important;
}

.fa.fa-arrow-right {
	display: none;
}
	
.tab-links.row {
	font-size: smaller;
}

#s-lib-public-header-desc, #s-lg-index-list-header {
	font-size: revert;
}

/* resizes navbar */

	
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    min-height: 90px;
}
	
.navbar-nav {
    margin-top: 10px;
}
nav.navbar.navbar-default {
	font-size: large;
	line-height: 20px;
}
	
#header-nav .navbar-default {
    background-color: #862633;
    border-color: #862633;
    border-radius: 0px;
    font-family: 'Open Sans', sans-serif;
    color: #fff!important;
}
	
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}
	
#header-nav .navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
    padding-top: 10px; 
    padding-bottom: 10px!important; 
    text-decoration: underline;
	line-height: 20px;
	font-weight: 700;
	font-size: larger;
}
	
#header-nav .navbar-default .navbar-nav>li>a:hover {
    color: #FFFFFF;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    background-color: #3D3935;
	line-height: 20px;
	font-weight: 700;
	font-size: larger;
}

#header-nav .navbar-default .navbar-nav>li>a:active {
    color: #FFFFFF;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    background-color: #3D3935;
	line-height: 20px;
	font-weight: 700;
	font-size: larger;
}
	
.navbar-brand>img {
    display: block;
	padding-top: 0px;
	margin-left: 0px;
	margin-bottom: 40px;
}

.springfieldText {
	font-size: 18px!important;
}
.springfieldLinks {
	font-size: 15px!important;
}

.quick-search, .advanced-search {
	text-align: center!important;
}
	
h1 {
	font-size: 2em;
	font-weight: bold;
}
	
#s-lg-guide-header-info h1, .s-lib-header h1, #s-lg-index-list-header {
	padding:0px!important;
}

tbody {font-size:smaller;}
	
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
	
/*disables sticky sidebar*/
	.sticky-side-nav {
  	position: static;
}
		
.mobile-columns {
	flex-direction: column!important;
	width:100%!important;
}
	
#discovery-advanced-search {
	text-align: center;
}
	
.quick-search, .advanced-search {
	text-align: center!important;
}
	
#links_below {
	display: initial!important;		
}
	
#searchFilters {
	margin-bottom: 5px!important;
}

#discovery-search {
    margin-left: 5px!important;
}

.searchSubmit {
	margin-top: 5px!important;
}

.college-links {
	text-align: center!important;
}
	
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
	padding-top: 60px;
	padding-bottom: 20px;
}
	
.navbar-nav {
    padding-top: 40px;
}
	
.navbar-brand>img {
    position: absolute;
    left: 50%;
    margin-left: -90px !important;  /* 50% of your logo width */
    display: block;
}
	
#header-nav .navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
    padding-top: 25px; 
    padding-bottom: 10px!important; 
    text-decoration: underline;
	line-height: 20px;
	font-weight: 700;
	font-size: large;
}
	
#header-nav .navbar-default .navbar-nav>li>a:active, #header-nav .navbar-default .navbar-nav>li>a:hover, #header-nav .navbar-default .navbar-nav>li>a:focus, #header-nav .navbar-default .navbar-nav>li>a:visited {
    color: #FFFFFF;
    padding-top: 25px!important;
    padding-bottom: 10px!important;
    line-height: 20px;
    font-weight: 700;
    font-size: large;
    margin: 0!important;
}

#resource_buttons {
	text-align: center;
	font-size: initial;
	white-space: normal;
}

#resource_buttons .h3, h3 {
    font-size: initial!important;
	white-space: normal;
}

.s-lib-profile-contact {
    font-size: small!important;
}

#s-lg-az-nav-1{
	padding:15px;		
}
}

/*

@media only screen and (min-width: 1024px) and (max-width: 1200px) {

	.sticky-side-nav {
  	position: static;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    min-height: 75px;
}
	
.navbar-brand>img {
    position: absolute;
    left: 50%;
    margin-left: -133px !important;
    display: block;
}

	
nav.navbar.navbar-default {
	font-size: large;
	line-height: 20px;
}
	
nav.navbar.navbar-default {
	font-size: large;
	line-height: 20px;
}
	
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
	padding-top: 70px;
	padding-bottom: 10px;
}
	
#header-nav .navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
    padding-top: 25px; 
    padding-bottom: 10px!important; 
    text-decoration: underline;
	line-height: 20px;
	font-weight: 700;
	font-size: large;
}
	
#header-nav .navbar-default .navbar-nav>li>a:hover {
    color: #FFFFFF;
    padding-top: 25px!important;
    padding-bottom: 10px!important;
    background-color: #3D3935;
	line-height: 20px;
	font-weight: 700;
	font-size: large;
}

#header-nav .navbar-default .navbar-nav>li>a:active {
    color: #FFFFFF;
    padding-top: 25px!important;
    padding-bottom: 10px!important;
    background-color: #3D3935;
	line-height: 20px;
	font-weight: 700;
	font-size: large;
}

#resource_buttons {
	text-align: center;
	font-size: large;
	white-space: normal;
}

#resource_buttons .h3, h3 {
    font-size: large!important;
	white-space: normal;
}
	
.navbar-brand>img {
    display: block;
	padding-top: 0px;
}
	
.s-lib-profile-contact {
    font-size: small!important;
}
	
}
*/

@media only screen and (min-width: 1200px) {
/* create class .sticky-side-nav to apply to side nav menu so it doesn't scroll off screen */
@supports (position:sticky) {.sticky-side-nav {
position: -webkit-sticky;
position: -moz-sticky;
position: -ms-sticky;
position: -o-sticky;
position: sticky;
top: 170px; /* this is the height of my header - adjust to suit your set-up */
z-index:3;
}
}
}

/* CSS Document */
